@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@theme {
  --color-primary: #222222;
  --color-charcoal: #363d48;
  --color-charcoal-bg: #363d48;
  --color-sky-blue: #5b76e2;
  --color-borders: #cecece;
  --color-line: #d6d6d6;
  --color-dots: #d4d4d7;
  --color-gray-box: #f6f6f6;
  --color-gray-text: #888888;

  --color-border2: #c5c5c540;
  --shadow-custom: "0px 0px 4px 0px rgba(0, 0, 0, 0.05)";
  --color-headings: linear-gradient(
    180deg,
    rgba(34, 34, 34, 0.1) 0%,
    rgba(34, 34, 34, 0) 85.74%
  );
  --color-bg-color: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  --breakpoint-mid: "744px";
}
